.container {
	min-height: 60vh;
}

.table {
	min-width: 600px;
	border-collapse: separate;
	border-spacing: 0 1.5rem;

	table-layout: fixed;
}


.tableRow {
	a:hover {
		color: var(--link-hover);
	}
}

.tableCell {
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}

.target {
	display: flex;
	justify-content: start;
}